<!DOCTYPE html>
<html>
<head>
    <title>Booklist, base for BookList</title>
      <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
</head>
<body>

BookList: Changing how use our reading lists


{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <li> <a href="/login">Login</a> </li>
    <li> <a href="/register_form"> New User? Register! </a> </li>
{% endif %}


{% block content %}
    Here is your body content 
{% endblock %}

</body>
</html>