<!DOCTYPE html>
<html>
<head>
    <title> {% block title %} Booklist {% endblock %} </title>
     <!--  <link rel="stylesheet"> -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  
    <!-- <link href="/static/project.css" rel="stylesheet"> -->
    <script>
        

        function doSortable(){
            console.log('i');
            debugger;
            $("#sortable").sortable();
        }
    </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">

    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> -->

 
 <!-- script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
   <!-- <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"> </script> -->
  <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  <!-- <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
   <!--  <script src="https://code.jquery.com/jquery-3.2.1.js"></script> -->
  
  <!--   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    

 


{% block page_specific_js %}{% endblock %}
</head>
<body>

BookList: Changing how you find your next read! 


{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <li> <a href="/login">Login</a> </li>
    <li> <a href="/register_form"> New User? Register! </a> </li>
{% endif %}


{% block content %}
    Here is your body content 
{% endblock %}

  
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" onload="doSortable();"></script>
</body>
</html>


