<!DOCTYPE html>
<html>
<head>
    <title> {% block title %} Booklist {% endblock %} </title>
     <!--  <link rel="stylesheet"> -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="/static/project.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>


{% block page_specific_js %}{% endblock %}
</head>
<body>

BookList: Changing how use our reading lists


{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <li> <a href="/login">Login</a> </li>
    <li> <a href="/register_form"> New User? Register! </a> </li>
{% endif %}


{% block content %}
    Here is your body content 
{% endblock %}

  

</body>
</html>


