{% extends "base.html" %} 

{% block page_specific_js %}  

<link href="/static/css/jquery.typeahead.min.css" rel="stylesheet" >
<script src="/static/typeahead.jquery.js"> </script>
<!-- <script src="static/typeahead.js"></script> -->
<script src="static/typeahead_test.js" > </script> 


{% endblock %}


{% block content %}

<form id="form-country_v1" name="form-country_v1">
    <div class="typeahead__container">
        <div class="typeahead__field">
 
            <span class="typeahead__query">
                <input class="js-typeahead-country_v1" name="country_v1[query]" type="search" placeholder="Search" autocomplete="off">
            </span>
            <span class="typeahead__button">
                <button type="submit">
                    <i class="typeahead__search-icon"></i>
                </button>
            </span>
 
        </div>
    </div>
</form>

{% endblock %}