{% extends 'base.html' %}

{% block page_specific_js %}  

<link href="/static/css/jquery.typeahead.min.css" rel="stylesheet" >
<script src="/static/typeahead.jquery.js"> </script>
<script src="/static/typeahead_test.js" > </script> 
<script src="/static/typeahead.js/bloodhound.js"></script>

{% endblock %}


{% block content %}

<p> Welcome {{user.name}}! </p> <br>



<form action = "/results" method="POST">
    <label for = "search-input"> I'd like to add a book: </label>
<!--     <input type = "text" name = "search_box" id = "search-input"> -->
    <div class="typeahead__container">
        <div class="typeahead__field">
        <span class="typeahead__query">
        <input class="js-typeahead"
                 id="input-from"
                 name="user_input"
                 type="search"
                 autocomplete="off"
                 placeholder="Type a book title">
        </span>
      </div>
    </div>


    <div>
        <label for="list-name"> Your lists </label>
        <select id="list-select" name="list-name" class="list-name">

            {% for user_list in user_lists %}
                <option value = "{{ user_list.list_name }}"> {{ user_list.list_name }}
                </option>
            {% endfor %}
        </select> 
        </div> 
        <input type="submit" class="btn btn-primary">
</form>  

<!-- ***** ABOVE HANDLES TYPEAHEAD user_input & list-name ***** -->


<br>
<form action="/add_list" method="POST">

    <div>
        <label>
            Type a list name
            <input type="list_name" name="list_name">
            <input type="submit" value="Make new list">
        </label>

    </div>

</form>

<!-- ***** ABOVE HANDLES CREATING NEW LIST with new list_name ***** -->



<br> <br> 
<form id = "view-list-form" action = "/view_list" method="POST">
    <label for="list-name"> View your lists </label>
    <select id="list-select" name="list-name" class="list-name">

        {% for user_list in user_lists %}
            <option value = "{{ user_list.list_name }}"> {{ user_list.list_name }}
            </option>
        {% endfor %}
    </select> 
    <input type="submit" class="btn btn-primary">
</form> 


<script>
    $('view-list-form').on('change', function(evt) {
        var selectedList = $(evt.currentTarget).find('option:select').data();
    });
</script>

<!-- ***** ABOVE HANDLES VIEWING lists with list_name & user_id ***** -->


<!--  ############################## READ SO FAR ########################## -->

<h1> So far you've read, keep going!! ::  </h1>
<p> You have read: {{ count }} </p>







{% endblock %}





