{% extends 'base.html' %} | Results page | 


{% block title %} List {% endblock %}
   
{% block page_specific_js %}  
<script src="/static/view_list.js"></script> 
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"> </script>
{% endblock %}

{% block content %}
   
<h1> Here are the books for {{ list_name }} </h1>



<div>
<ul id="sortable">
{% for list_book in all_books %}
    <li> 
    {{ list_book.book.book_title }} by {{ list_book.book.book_author }} <br>

    Read: {{list_book.book_read}} 
    </li>
{% endfor %}
</ul>
</div>

<br> <br> <br>
<h1> Based on {{ list_name }} , you might want to check out: </h1>

<p>If you click on the "Hide" button, I will disappear.</p>

<button id="hide">Show less</button>
<button id="show">Show More</button>

    {% for pl_list in all_objs %}
      <h2> {{ pl_list.pl_name }} <br> </h2>

<div id="show-top5">
 {% for book in pl_list.public_lists[0:5] %}
      {{book.book.book_title}} by {{book.book.book_author}} <br> 
            <img src="{{ book.book.book_cover }}"> <br> 
      
      {%endfor%}

</div>

<div id = "rest-of-books">
      {% for book in pl_list.public_lists[5:] %}
      {{book.book.book_title}} by {{book.book.book_author}} <br> 
            <img src="{{ book.book.book_cover }}"> <br> 
      
      {%endfor%}
    {% endfor %}
</div>


 <!-- Code below allows for show/hide toggle  -->
<script>

$("#rest-of-books").hide();

$(document).ready(function(){
    $("#hide").click(function(){
        $("#rest-of-books").hide();
    });
    $("#show").click(function(){
        $("#rest-of-books").show();
    });
});
</script>




<!-- CODE TO IMPLEMENT CHECK BOX-->

<!-- if ($("#yourCheckboxID").is(":checked")) {  
    // checkbox is checked 
} else {
    // checkbox is not checked 
} -->



{% endblock %}




