{% extends 'base.html' %} | Results page | 


{% block title %} List {% endblock %}
   
{% block page_specific_js %}  
<script src="/static/view_list.js"></script> 
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"> </script>
{% endblock %}

{% block content %}

<div class = "container-fluid">
   <div class="row">

  
<!-- ######################  Books inside that reading list ########################## -->
 <div class="col-xs-7">
<h2> Here are the books for {{ list_name }} </h2>

<a href="http://0.0.0.0:5000/users/1">Add a book to my list! </a>

<div>
    <ul id="sortable">
    {% for list_book in all_books %}
        <li> 
         <img src="{{ list_book.book.book_cover }}" height="50">
        {{ list_book.book.book_title }} by {{ list_book.book.book_author }}
        <input type=checkbox class='bookRead' data-book_id={{list_book.list_book_id}} { if list_book.book_read}checked{/if}> Finished: {{list_book.book_read}} 
        </li>

    {% endfor %}
    </ul>
</div>


<!-- Below closes column div  -->
</div> 


<!-- #########################  List Suggestions  ############################ -->
<div class="col-xs-5"> 

<h2> Based on {{ list_name }}, check out: </h2>


{% for pl_list in all_objs %}
 
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading">


      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ pl_list.pl_id }}" aria-expanded="True" aria-controls="collapseOne">
         <p> {{ pl_list.pl_name }} <br> </p>
        </a>
        </h4>
    </div>
</div>

    <div id="collapse{{ pl_list.pl_id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">    
            <!--   Public list content   -->

        <div id = "results" > 
            <p>If you click on the "Hide" button, a shorter list will appear.</p>
            <button id="hide-button-{{pl_list.pl_id}}" class="hide2" data-list-id = "{{ pl_list.pl_id }}" hidden>Show less</button>
            <button id="show-button-{{pl_list.pl_id}}" class="show2" data-list-id = "{{ pl_list.pl_id }}"> Show More</button>
            
            <div id= "show-list-{{ pl_list.pl_id }}">
            {% for book in pl_list.public_lists[0:3] %}
                {{book.book.book_title}} by {{book.book.book_author}} <br> 
                <img src="{{ book.book.book_cover }}" height="50"> <br> 
            {%endfor%}

            </div>

            <div id = "rest-of-books-{{ pl_list.pl_id }}" class ="hidden-list-segment">
             {% for book in pl_list.public_lists[3:] %}
                {{book.book.book_title}} by {{book.book.book_author}} <br> 
                <img src="{{ book.book.book_cover }}"> <br> 
            {%endfor%}
             </div> 
        </div>

        </div>
    </div>
</div>

{% endfor %}


<!-- Below closes column div  -->
</div>









<!--  Below closes row div -->
    </div> 
<!--  Below closes container fluid div -->
<div>

{% endblock %}




